body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

p {
    margin: 0;
}

.container-main {
    width: 640px;
    min-width: 640px;
    min-height: 800px;
    padding: 20px 0;
    margin: 30px 0;
    border: 1px solid lightslategray;
    border-radius: 10px;
    background-color: rgb(204, 221, 243);
}

.container-bottom {
    font-size: 20px;
}

.col, .row {
    margin: 10px;
}

.temp-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 42px;
}

.temp-img-small {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.city {
    font-size: 32px;
    text-align: center;
}

.bottom-title {
    font-family: cursive;
    margin: 20px 0;
    font-size: 26px;
}

.footer p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 12px;
}

.img-temp {
    font-size: 30px;
}

.time {
    font-size: 20px;
}

#search-input {
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 0 10px;
    box-shadow: darkgray;
}

#search-input:focus {
    border-radius: 5px;
    border: 1px solid blue;
    ;
    outline: none;
}

#search-btn {
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 16px;
    padding: 0 20px;
}

#search-btn:hover {
    background-color: rgb(250, 250, 207);
    transition: ease 0.5s;
}

.temp-symbol {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

#current-location {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid rgb(170, 207, 250);
    background-color: rgb(177, 209, 253);
}

#current-location:hover {
    background-color: rgb(35, 120, 216);
    color: #fff;
    border: 1px solid #fff;
}

.wind-humidity {
    text-align: center;
    font-size: 16px;
}

.location-container {
    margin: 10px 0;
    height: 100px;
}

#forecast {
    margin: 40px 20px;
}

#forecast span{
    font-size: 14px;
}